body {
    background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}